# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.log
venv/

# =========================
# Environment / Secrets
# =========================

.env
*.env
*.pem

# =========================
# Django
# =========================

db.sqlite3

# =========================
# Node / React
# =========================

node_modules/
frontend/dist/

# =========================
# IDE
# =========================

.idea/
.vscode/